################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Projeto/Framework.Aplicacao.Servico/bin/Debug/netcoreapp2.0
/Projeto/.vs/Framework/v15/Server/sqlite3
/.vs/Framework/v15/Server/sqlite3
/.vs/Framework/v15
/Projeto/Framework.Aplicacao.Servico/obj
/Projeto/Framework.Apresentacao.Mvc/bin/Debug/netcoreapp2.0
/Projeto/Framework.Apresentacao.Mvc/obj
/Projeto/Framework.Data.Nhibernate/bin/Debug/netcoreapp2.0
/Projeto/Framework.Data.Nhibernate/obj
/Projeto/Framework.Data.Nhibernate.Tests/bin/Debug/netcoreapp2.0
/Projeto/Framework.Data.Nhibernate.Tests/obj
/Projeto/Framework.Data.Repositorio/bin/Debug/netcoreapp2.0
/Projeto/Framework.Data.Repositorio/obj
/Projeto/Framework.Dominio.Base/bin/Debug/netcoreapp2.0
/Projeto/Framework.Dominio.Base/obj
/Projeto/Framework.Helper/bin/Debug/netcoreapp2.0
/Projeto/Framework.Helper/obj
/Projeto/Framework.Helper.Tests/bin/Debug/netcoreapp2.0
/Projeto/Framework.Helper.Tests/obj
/Projeto/Framework.Validator/bin/Debug/netcoreapp2.0
/Projeto/Framework.Validator/obj
/.vs
/Projeto/.vs/Framework/v15
/Projeto/Framework.Aplicacao.Servico/bin/Release/netcoreapp2.0
/Projeto/Framework.Apresentacao.Mvc/bin/Release/netcoreapp2.0
/Projeto/Framework.Data.Nhibernate/bin/Release/netcoreapp2.0
/Projeto/Framework.Data.Repositorio/bin/Release/netcoreapp2.0
/Projeto/Framework.Dominio.Base/bin/Release/netcoreapp2.0
/Projeto/Framework.Helper/bin/Release/netcoreapp2.0
/Projeto/Framework.Validator/bin/Release/netcoreapp2.0
/Projeto/Framework.Apresentacao.Mvc/bin/Release
/Projeto/Framework.Data.Nhibernate/bin/Release
/Projeto/Framework.Data.Repositorio/bin/Release
/Projeto/Framework.Validator/bin/Release/Framework.Validator.1.1.0.nupkg
/Projeto/Framework.Validator/bin/Release
/Projeto/Framework.Helper/bin/Release/Framework.Helper.1.1.0.nupkg
/Projeto/Framework.Helper/bin/Release
/Projeto/Framework.Dominio.Base/bin/Release/Framework.Dominio.Base.1.1.0.nupkg
/Projeto/Framework.Dominio.Base/bin/Release
/Projeto/Framework.Aplicacao.Servico/bin/Release
/Projeto/Framework.Data.Nhibernate.Tests/bin/Release/netcoreapp2.0
/Projeto/Framework.Helper.Tests/bin/Release/netcoreapp2.0
/Projeto/Framework.Data.Nhibernate.Tests/bin/Release/netcoreapp2.1
/Projeto/Framework.Helper.Tests/bin/Release/netcoreapp2.1
/Projeto/Framework.Helper/bin/Debug/netcoreapp2.1
/Projeto/Framework.Helper.Tests/bin/Debug/netcoreapp2.1
/Projeto/Framework.Helper.Tests/Framework.Helper.Tests.csproj.user
/Projeto/.vs/config
/Projeto/Dominio/bin/Debug/netcoreapp2.1
/Projeto/Dominio/obj
/Projeto/Framework.Aplicacao.Servico/bin/Debug/netcoreapp2.1
/Projeto/Framework.Apresentacao.Mvc/bin/Debug/netcoreapp2.1
/Projeto/Framework.Data.Nhibernate/bin/Debug/netcoreapp2.1
/Projeto/Framework.Data.Nhibernate.Tests/bin/Debug/netcoreapp2.1
/Projeto/Framework.Data.Repositorio/bin/Debug/netcoreapp2.1
/Projeto/Framework.Dominio.Base/bin/Debug/netcoreapp2.1
/Projeto/Framework.Validator/bin/Debug/netcoreapp2.1
/Projeto/Mapeamento/bin/Debug/netcoreapp2.1
/Projeto/Mapeamento/obj/Debug/netcoreapp2.1
/Projeto/Mapeamento/obj/Release/netcoreapp2.1
/Projeto/Mapeamento/obj
/Projeto/Mapeamento/bin/Release/netcoreapp2.1
/Projeto/Repositorio/bin/Release/netcoreapp2.1
/Projeto/Repositorio/obj
/Projeto/Servico/obj
/Projeto/Web/bin/Release/netcoreapp2.1
/Projeto/Web/obj
/Projeto/Repositorio/bin/Debug/netcoreapp2.1
/Projeto/Servico/bin
/Projeto/Web/bin/Debug/netcoreapp2.1
/Projeto/Apresentacao/bin
/Projeto/Dominio/bin/Release/netcoreapp2.2
/Projeto/Dominio.ViewMode/bin/Release/netcoreapp2.2
/Projeto/Framework.Data.Nhibernate.Tests/bin/Release/netcoreapp2.2
/Projeto/Framework.Helper.Tests/bin/Release/netcoreapp2.2
/Projeto/Mapeamento/bin/Release/netcoreapp2.2
/Projeto/Repositorio/bin/Release/netcoreapp2.2/Repositorio.pdb
/Projeto/Repositorio/bin/Release/netcoreapp2.2/Repositorio.dll
/Projeto/Repositorio/bin/Release/netcoreapp2.2/Repositorio.deps.json
/Projeto/Repositorio/bin/Release/netcoreapp2.2/Framework.Validator.pdb
/Projeto/Repositorio/bin/Release/netcoreapp2.2/Framework.Validator.dll
/Projeto/Repositorio/bin/Release/netcoreapp2.2/Framework.Helper.pdb
/Projeto/Repositorio/bin/Release/netcoreapp2.2/Framework.Helper.dll
/Projeto/Repositorio/bin/Release/netcoreapp2.2/Framework.Domain.Base.pdb
/Projeto/Repositorio/bin/Release/netcoreapp2.2/Framework.Domain.Base.dll
/Projeto/Repositorio/bin/Release/netcoreapp2.2/Framework.Data.Repository.pdb
/Projeto/Repositorio/bin/Release/netcoreapp2.2/Framework.Data.Repository.dll
/Projeto/Repositorio/bin/Release/netcoreapp2.2/Framework.Data.Nhibernate.pdb
/Projeto/Repositorio/bin/Release/netcoreapp2.2/Framework.Data.Nhibernate.dll
/Projeto/Repositorio/bin/Release/netcoreapp2.2/Dominio.pdb
/Projeto/Repositorio/bin/Release/netcoreapp2.2/Dominio.dll
/Projeto/ServicoDistribuido/bin/Release/netcoreapp2.2
/Projeto/Apresentacao.Console/bin/Debug
/Projeto/Apresentacao.Console/obj/Debug
/Projeto/Dominio.ViewMode/bin/Debug/netcoreapp2.2
/Projeto/Framework.Application.Service/bin/Debug
/Projeto/Framework.Data.Nhibernate/bin/Debug
/Projeto/Framework.Data.Repository/bin/Debug
/Projeto/Framework.Data.Repository/obj/Debug
/Projeto/Framework.Domain.Base/bin/Debug
/Projeto/Framework.Domain.Base/obj/Debug
/Projeto/Framework.Domain.Model/bin/Debug
/Projeto/Framework.Domain.Model/obj/Debug
/Projeto/Framework.Helper/bin/Debug
/Projeto/Framework.Presentation.Mvc/bin/Debug
/Projeto/Framework.Presentation.Mvc/obj/Debug
/Projeto/Framework.Service.Distributed/bin/Debug
/Projeto/Framework.Validator/bin/Debug
/Projeto/ServicoDistribuido/bin/Debug/netcoreapp2.2
/Projeto/Framework.Application.Service/obj/Debug
/Projeto/Framework.Service.Distributed/obj/Debug
/Projeto/Apresentacao/obj/Release/netcoreapp2.2
/Projeto/Dominio.ViewMode/obj/Release/netcoreapp2.2
/Projeto/Framework.Domain.Model/obj/Release/netstandard2.0
/Projeto/ServicoDistribuido/obj/Release/netcoreapp2.2
/Projeto/Apresentacao.Console/bin/Release
/Projeto/Apresentacao.Console/obj/Release
/Projeto/Framework.Data.Repository/obj/Release
/Projeto/Framework.Data.Repository/obj
/Projeto/Framework.Domain.Model/obj/Release
/Projeto/Framework.Domain.Model/obj
/Projeto/Framework.Presentation.Mvc/obj/Framework.Presentation.Mvc.csproj.nuget.dgspec.json
/Projeto/Framework.Presentation.Mvc/obj/Release/Framework.Presentation.MvcCore.3.2.0.27.nuspec
/Projeto/Framework.Presentation.Mvc/obj/Release/Framework.Presentation.MvcCore.3.2.0.26.nuspec
/Projeto/Framework.Presentation.Mvc/obj/Release/Framework.Presentation.MvcCore.3.2.0.25.nuspec
/Projeto/Framework.Presentation.Mvc/obj/Release/Framework.Presentation.MvcCore.3.2.0.24.nuspec
/Projeto/Framework.Presentation.Mvc/obj/Release/Framework.Presentation.MvcCore.3.2.0.23.nuspec
/Projeto/Framework.Presentation.Mvc/obj/Release/Framework.Presentation.MvcCore.3.2.0.22.nuspec
/Projeto/Framework.Presentation.Mvc/obj/Release/Framework.Presentation.MvcCore.3.2.0.21.nuspec
/Projeto/Framework.Presentation.Mvc/obj/Release/Framework.Presentation.MvcCore.3.2.0.20.nuspec
/Projeto/Framework.Presentation.Mvc/obj/Release/Framework.Presentation.MvcCore.3.2.0.19.nuspec
/Projeto/Framework.Presentation.Mvc/obj/Release/Framework.Presentation.MvcCore.3.2.0.18.nuspec
/Projeto/Framework.Presentation.Mvc/obj/Release/Framework.Presentation.MvcCore.3.2.0.17.nuspec
/Projeto/Framework.Service.Distributed/obj/Release/Framework.Service.Distributed.3.2.0.27.nuspec
/Projeto/Framework.Service.Distributed/obj/Release/Framework.Service.Distributed.3.2.0.26.nuspec
/Projeto/Framework.Service.Distributed/obj/Release/Framework.Service.Distributed.3.2.0.25.nuspec
/Projeto/Framework.Service.Distributed/obj/Release/Framework.Service.Distributed.3.2.0.24.nuspec
/Projeto/Framework.Service.Distributed/obj/Release/Framework.Service.Distributed.3.2.0.23.nuspec
/Projeto/Framework.Service.Distributed/obj/Release/Framework.Service.Distributed.3.2.0.22.nuspec
/Projeto/Framework.Service.Distributed/obj/Release/Framework.Service.Distributed.3.2.0.21.nuspec
/Projeto/Framework.Service.Distributed/obj/Release/Framework.Service.Distributed.3.2.0.20.nuspec
/Projeto/Framework.Service.Distributed/obj/Release/Framework.Service.Distributed.3.2.0.19.nuspec
/Projeto/Framework.Service.Distributed/obj/Release/Framework.Service.Distributed.3.2.0.18.nuspec
/Projeto/Framework.Service.Distributed/obj/Release/Framework.Service.Distributed.3.2.0.17.nuspec
/Projeto/ServicoDistribuido/obj/ServicoDistribuido.csproj.nuget.dgspec.json
/Projeto/.vs/Framework
/Projeto/Apresentacao/obj
/Projeto/Dominio.ViewMode/obj
/Projeto/Framework.Application.Service/obj
/Projeto/Framework.Domain.Base/obj/Framework.Domain.Base.csproj.nuget.dgspec.json
/Projeto/Framework.Domain.Base/obj/Release/Framework.Domain.Base.3.2.0.27.nuspec
/Projeto/Framework.Domain.Base/obj/Release/Framework.Domain.Base.3.2.0.26.nuspec
/Projeto/Framework.Domain.Base/obj/Release/Framework.Domain.Base.3.2.0.25.nuspec
/Projeto/Framework.Domain.Base/obj/Release/Framework.Domain.Base.3.2.0.24.nuspec
/Projeto/Framework.Domain.Base/obj/Release/Framework.Domain.Base.3.2.0.23.nuspec
/Projeto/Framework.Domain.Base/obj/Release/Framework.Domain.Base.3.2.0.22.nuspec
/Projeto/Framework.Domain.Base/obj/Release/Framework.Domain.Base.3.2.0.21.nuspec
/Projeto/Framework.Domain.Base/obj/Release/Framework.Domain.Base.3.2.0.20.nuspec
/Projeto/Framework.Domain.Base/obj/Release/Framework.Domain.Base.3.2.0.19.nuspec
/Projeto/Framework.Domain.Base/obj/Release/Framework.Domain.Base.3.2.0.18.nuspec
/Projeto/Framework.Domain.Base/obj/Release/Framework.Domain.Base.3.2.0.17.nuspec
